# .github/workflows/build.yml
name: Build Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Run build
        run: echo "replace this with your build command"
